title Portfolio
meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='A simple react based todo app.', name='description')
meta(content='https://todo-app-giant.io', property='og:site_name')
meta(content='@todo-app-giant', name='twitter:site')
meta(content='noindex, follow', name='robots')
meta(
  content='width=device-width, height=device-height, initial-scale=1'
  id='viewport'
  name='viewport'
)
link(
  href='/assets/images/favicon.png'
  rel='shortcut icon'
  type='image/vnd.microsoft.icon'
)
link(
  href='/assets/styles/fonts.css'
  rel='stylesheet'
  type="text/css"
)
link(
  href='/assets/styles/artifacts.css'
  rel='stylesheet'
  type="text/css"
)

if unsupported
  link(
    href='/assets/styles/unsupported.css'
    rel='stylesheet'
    type="text/css"
  )
