svg.svg-definitions(
  xmlns='http://www.w3.org/2000/svg'
  xmlns:xlink='http://www.w3.org/1999/xlink'
)
  //- Arrow Vertice Center
  +symbol('icon-arrow-center')
    path(d=shapes.icon.arrow.center.d)

  //- Arrow Vertice Left
  +symbol('icon-arrow-left')
    path(d=shapes.icon.arrow.left.d)

  //- Arrow Vertice Right
  +symbol('icon-arrow-right')
    path(d=shapes.icon.arrow.right.d)

  //- Caret
  +symbol('icon-caret')
    path(d=shapes.icon.caret.d)

  //- Earth
  +symbol('icon-earth')
    path(d=shapes.icon.earth.d)

  //- Favorite Star
  +symbol('icon-favorite')
    path(d=shapes.icon.favorite.d)

  //- Logo Moon
  +symbol('logo-moon')
    path(d=shapes.logo.moon.d)

  //- Logo Picture
  +symbol('logo-picture')
    path(d=shapes.logo.picture.small.d)
    path(d=shapes.logo.picture.big.d)
    path(d=shapes.logo.picture.frame.d)

  //- Logo Sun
  +symbol('logo-sun')
    circle(
      cx=shapes.logo.sun.x
      cy=shapes.logo.sun.y
      r=shapes.logo.sun.r
    )

  //- Logo Blob Bottom
  +symbol('logo-blob-bottom', shapes.logo.blob.viewBox)
    path(d=shapes.logo.blob.bottom.d)

  //- Logo Blob Top
  +symbol('logo-blob-top', shapes.logo.blob.viewBox)
    path(d=shapes.logo.blob.top.d)

  //- Logo Text
  +symbol('logo-text', shapes.logo.blob.viewBox)
    each val in shapes.logo.text
      path(d=val.d)

  //- Robot Body
  +symbol('robot-body')
    path(d=shapes.robot.body.d)

  //- Robot Eye Left
  +symbol('robot-eye-left')
    path(d=shapes.robot.eye.left.d)

  //- Robot Eye Right
  +symbol('robot-eye-right')
    path(d=shapes.robot.eye.right.d)

  //- Robot Mouth
  +symbol('robot-mouth')
    path(d=shapes.robot.mouth.d)

  //- Rocket Parts
  +symbol('rocket-body')
    path(d=shapes.rocket.body.d)

  +symbol('rocket-exhaust-left')
    path(d=shapes.rocket.exhaust.left.d)

  +symbol('rocket-exhaust-right')
    path(d=shapes.rocket.exhaust.right.d)

  +symbol('rocket-clouds-left')
    path(d=shapes.rocket.clouds.left.d)

  +symbol('rocket-clouds-right')
    path(d=shapes.rocket.clouds.right.d)
