mixin link(href, title)
  a(
    href=href
    rel='noopener noreferrer'
    tabindex='0'
    target='_blank'
    title=title
  )&attributes(attributes)
    block

mixin svgIcon(viewBox='0 0 100 100')
  svg(
    width='100%'
    height='100%'
    class='svg-icon-container'
    viewBox=viewBox
  )&attributes(attributes)
    block
