mixin link(href, title)
  a(
    href=href
    rel='noopener noreferrer'
    tabindex='0'
    target='_blank'
    title=title
  )&attributes(attributes)
    block

mixin symbol(id, viewBox='0 0 100 100')
  symbol(
    id=id
    viewBox=viewBox
  )
    block
